@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka:wght@300;400;500;600;700&family=Outfit:wght@100;300;400;500;600;700;900&family=Pacifico&display=swap");
html {
	background-color: #1f2937;
	color: white;
	scroll-behavior: smooth;
}
a,
a:active,
a:visited {
	text-decoration: none;
	color: white;
}
.MuiInputLabel-root {
	color: #bbb !important;
}
